<!-- Profile is where you save the mapping of Verification Key (Public Key) to Values (latest contact info, eventually rollups) -->
<!-- This is the information that is published to "the network" -->
<details>
  <!-- Summary should look like a button -->
  <summary
    class="cursor-pointer font-semibold text-lg bg-blue-500 hover:bg-blue-700 text-white p-2 my-2 rounded"
  >
    My Profile
  </summary>
  <!-- Verification Key? -->
  {% include "form.html" %}
  <div class="flex flex-col-reverse">
    <button
      id="{{id|on('click')}}"
      data-context-name="saveprofile"
      type="button"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 m-2 rounded group-invalid:pointer-events-none group-invalid:opacity-30"
    >
      Save Profile
    </button>
  </div>
</details>
