[submodule "submodules/seed-keeper"]
	path = submodules/seed-keeper
	url = https://github.com/DougAnderson444/seed-keeper.git
[submodule "submodules/delanocreds"]
	path = submodules/delanocreds
	url = https://github.com/DougAnderson444/delanocreds.git
